/* import fonts from fonts.css file */ 
@import url(./fonts.css);


/* css variables */ 
@import url(./partials/_variables.css);

/* import global styling */ 
@import url(./partials/_global.css);


/* start navigation */ 

.header_area .main-menu .navbar .navbar-brand{
    padding-left: 50px; 
 

}

.header_area .main-menu .navbar{
    padding: 1rem 20rem ; 
     margin-right: 170px;
}

.header_area .main-menu .nav-item .nav-link{
    font: normal 500 15px/2px var(--roboto);
    text-transform: uppercase;
    padding: 1.7rem;
    color: white; 
    
}

.header_area .main-menu .navbar-nav .active a{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header_area .main-menu .navbar-nav a:hover{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}


/* end navigation */ 

/* Banner Area */ 


#banner{
background-image: url(image/SEO.png);
background-size: cover;
background-repeat: no-repeat;
width: 100%;
height: 100vh;
margin-top:-110px;
z-index: -1;
}
.smaller{
    height: 250px;
}
#ranking{
    width: 400px;
    height: 400px;
}
.col-md-7, .col-md-5,.col-md-4{
padding-top: 90px ;
}
#process .row{
    margin-top: -20px;
}
.col-md-7 h1{
    font-size: 35px;
}
@media (min-width: 991px) {
    .appear{
        display: none;
    }
 
   }
   html{
      overflow-x: hidden;
  }
  @media screen and (max-width:460px){
      #banner{
          background:url(assets/seomobile.png);
          background-size: cover;
          margin-top: -110px;
      }
      .col-md-5 img{
          width: 90%;
      }
      .disappear{
          display: none;
      }
      .col-md-7 h1{
          font-size: 27px;
          font-weight: 600;
      }
  }
 
